<div class="container" ng-controller="FilesController">
    <div ng-hide="loading" id="containerFiles">
        <h1>
            <ng-pluralize ng-if="subfolders.length > 0" count="subfolders.length"
                          when="{'0': 'Rien à voir ici.',
                     'one': 'Dossier',
                     'other': 'Dossiers'}">
            </ng-pluralize>
            <ng-pluralize ng-if="subfolders.length == 0" count="files.length"
                          when="{'0': 'Rien à voir ici.',
                     'one': 'Fichier',
                     'other': 'Fichiers'}">
            </ng-pluralize>
            : {{subfolders.length > 0 ? subfolders.length : files.length}}
        </h1>
        <h2> >>> {{rootFolder[0]}}</h2>

        <div class="files-container col-xs-3 col-md-3 clickable"
             ng-click="findChildren(rootFolder +'/'+subfolders[$index])"
             ng-repeat="subfolder in subfolders track by $index">
            <div class="back back-video"></div>
            <div class="content">
                <span>{{subfolder}}</span>
            </div>
        </div>
        <div ng-if="files" ng-repeat="file in files track by $index" class="files-container col-xs-3 col-md-3">
            <div class="back back-video"></div>
            <div class="content">
                <span>{{file}}</span>
            </div>
        </div>

    </div>
    <div>
        {{all}}
    </div>
</div>